<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Devil7___Ultra_Scan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Devil7___Ultra_Scan.My.MySettings>
            <setting name="FilenameFormat" serializeAs="String">
                <value>Scan_{0:000}</value>
            </setting>
            <setting name="StartingNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </Devil7___Ultra_Scan.My.MySettings>
    </userSettings>
</configuration>